<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>1. ¿Qué cambia en la plantilla cuando los datos llegan desde app.py en lugar de estar escritos directamente en el HTML?</h1>
    <h2>Cuando los datos vienen desde app.py (por ejemplo en una app con Flask) en vez de estar escritos directamente en el HTML, la plantilla pasa de ser estática a dinámica.</h2>
    <h2>La plantilla se convierte en una vista dinámica que recibe información desde Python y la renderiza automáticamente.</h2>


    <h1>2. ¿Qué ventaja tiene separar la lógica en Python de la presentación en la plantilla?</h1>
    <h2>El código es más limpio y ordenado.</h2>
    <h2>Es más fácil corregir errores.</h2>
    <h2>Puedes reutilizar la misma plantilla con distintos datos.</h2>
    <h2>Varias personas pueden trabajar al mismo tiempo (unos en Python y otros en diseño HTML).</h2>
    <h2>Cambiar el diseño no afecta la lógica del programa.</h2>

<title>{{ titulo }}</title>
<h1>{{ mensaje }}</h1>
<p>Usuario activo: {{ usuario }}</p>


</body>
</html>