<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal {{ profesor }}</title>
</head>
<body>

      <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/informacion">Informacion</a></li>
            <li><a href="/recursos">Recursos</a></li>
            <li><a href="/tareas">Tareas</a></li>
            <li><a href="/inscripcion">Inscripcion</a></li>
            <li><a href="/estudiante.html">Estudiante</a></li>
        </ul>
    </nav>



    <h1>Bienvenidos al Portal de Clase 1114</h1>
    
    <h2>Informacion de la clase</h2>
    <p><strong>Profesor:</strong> {{ profesor }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Horario:</strong> {{ horario }}</p>
    <p><strong>Aula:</strong> {{ aula }}</p>
    <p><strong>Descripcion:</strong> {{ descripcion }}</p>
</body>
</html>